# BEGIN htaccess Removing index.php from URLs

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# Removes index.php from ExpressionEngine URLs
	RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
	RewriteCond %{REQUEST_URI} !/irims-phase2/.* [NC]
	RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

	# Directs all EE web requests through the site index file
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
	# If we don't have mod_rewrite installed, all 404's
	# can be sent to index.php, and everything works as normal.
	# Submitted by: ElliotHaughin

	ErrorDocument 404 /index.php
</IfModule>


# END htaccess
